body{
	padding: 0;
	margin: 0;
	color: #000000;
	font-size: normal;
	/* font-family: Tahoma;
	background-color: #0b9be8; */
	font-family: 'poppins',sans-serif;
    background: linear-gradient(120deg,#2f92d3,#920ccc);
	
}
/* code for the time and session header */
.header{
	background-color: #000000;
	color: white;
	font-size: 24px;
	border-radius: 14px;
}
.timeheader{
	float:right
}
a{
	text-decoration: none;
}
.card1{
	background-color: aqua;
}
.card{
	background-color: #09fbfb;
	color: #000000;
}
.btn-block{
	width: 100%;
}

.sidebar{
	width: 20%;
	background: linear-gradient(120deg,#2980b9,#8e44ad);
	height: 100vh;
	
	float: left;
	
}

.sidebar ul{
	list-style: none;
	padding: 15px;

}
.sidebar ul li{
	padding: 3px;
	margin: 3px;
	line-height: 40px;

	
}
.sidebar ul li a{
	text-decoration: none;
	color: white;
	display: inline;
	font-size: 18PX;
	

}
.sidebar ul li a:hover{
	opacity: 0.5;
}
.sidebar ul li .fa{
	margin-right: 8px;
}

.main{
	width: 80%;
	height: 100vh;
	background-color:rgb(10, 142, 194) ;
	float: right;
	font-size: 18px;
	/* flex-flow: row wrap; */
}
.row{
	flex-flow: row wrap;
	padding: 7px; 
    margin: 7px;
	
}
.menu-bar.fa{
    margin-right:100px;
}
.main1{
	float: left;
	display: grid;
	padding: 8rem;
	padding-left: 3rem;
	padding-right: 5rem;
	margin: 5px 18px;
	
	
}
.main1 p{
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	margin: 5px 18px;
}
.card_header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.card_img{
	width:110px;
	height:100px;
	border-radius: 30%; 
	border:2px solid purple;
	margin-right: 5px;
 
 }
	


